body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    /* background: #0f5170; */
}
#main{
    height: 80%;
    width: 80%;
    position: relative;
    background: #042331;
    box-align: center;
    color: rgb(207, 174, 174);
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10%;
    margin-top: 10px;
    padding-left: 20px;
    opacity: .8;
    box-shadow: 10px 20px 40px black;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(245, 109, 109, .8);
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    word-spacing: 20px;
}
.data{
    background: transparent;
    line-height: 17px;
    border: 2px solid rgb(245, 109, 109);
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(252, 142, 142);
    cursor: pointer;
    text-align: center;
    outline: none;
}
span{
    font-size: 12px;
}
table tr td.head{
    text-align: center;
}
input.f_name , input.l_name , input.pin_code  {
    margin-left: 30px;
    width: 30%;
}
input[type="date"]{
    margin-left: 75px;
    width: 30%;
}
input[type="email"]{
    margin-left: 52px;
    width: 30%;
}
input.city{
    margin-left: 57px;
    width: 30%;
}
input.state{
    margin-left: 45px;
    width: 30%;
}
input.p_no{
    margin-left: 10px;
    width: 30%;
}
input.country{
    margin-left:35px ;
    width: 30%;
}
textarea{
    background: transparent;
    border: 2px solid rgb(245, 109, 109);
    color: rgb(252, 142, 142);
    margin-left: 10%;
    outline: none;
    text-decoration: none;
}
.btn{
    border: 1px solid rgb(245, 109, 109);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: montserrat;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow:hidden;
    border-radius: 5px;
    align-items: center;
}
.btn1,.btn2{
    color: #fff;
}
.btn1:hover , .btn2:hover{
    color: rgb(245, 109, 109);
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(245, 109, 109);
    z-index:-1;
    transition: 0.8s;
}
.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn2::before{
    bottom: 0;
    border-radius: 50% 50% 0 0 ;
}
.btn1::before , .btn2::before {
    height: 180%;
}
.btn1:hover::before , .btn2:hover::before{
    height: 0%;
}